@page 
@using Models
@model PlayArena.Pages.TelajogoModel
@{
	var jogo = Model.jogo;
	var requisitos = Model.requisitos;
	var imagemJogo = Model.imagemJogo;
}

<div class="justify-content-lg-start d-flex">
	<img class="fotovoltar mt-5 me-1" src="~/img/weui--back-filled.png" width="14" height="20" />
	<a class="btnvoltar" asp-page="./Catalogo"> Voltar</a>
</div>
<div class="d-flex mt-5">
	<div class="d-flex contaider-esquerda">
		<div>
			<img src="@jogo.Capa" class="" style="width: 230px; height: 300px" />
			<p class="nome-jogo ms-2 mt-3">@jogo.Nome</p>
			<p class="informacoes-jogo">Requisitos de sistema de @jogo.Nome:</p>

			<p class="informacoes-jogo">Sistema operacional</p>
			<p class="informacoes-jogo">@requisitos.SistemaOperacional</p>

			<p class="informacoes-jogo">Processador</p>
			<p class="informacoes-jogo">@requisitos.Processador</p>
		</div>
		<div class="">
			<p class="detalhes-jogo">Desenvolvedora: <p class="informacoes-jogo">@jogo.Empresa</p></p>
			<p class="detalhes-jogo">Gênero: <p class="informacoes-jogo">@jogo.Genero</p></p>
			<p class="detalhes-jogo">Data de lançamento: <p class="informacoes-jogo">@jogo.DataLancamento</p></p>
			<p class="detalhes-jogo">Quantidade disponível: <p class="informacoes-jogo">@jogo.QuantidadeDisponivel</p></p>

			<button class="btncompra">Comprar: @jogo.Preco</button>
		</div>
	</div>
	<div class="d-flex">
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="@imagemJogo.URL" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="@imagemJogo.URL" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="@imagemJogo.URL" class="d-block w-100">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<p class="informacoes-jogo"> @jogo.Descricao</p>
	</div>
</div>
